.navbar-nav{
    margin-left: 30%;
    margin-top: 1%;
    object-fit: cover;
}
.blocky{
    justify-content: center;
    object-fit: cover;
}
.logo{
    width: 8%;
    object-fit: cover;
}
.telephone{
    object-fit: cover;
    margin-left: 60%;
    margin-top: -5%;
    width: 1.3%;
}
.table{
    margin-left: 70%;
    margin-top: -8%;
    font-size: 100%;
    object-fit: cover;
}

.blocky2{
    justify-content: center;
    object-fit: cover;
}
.magaz{
    width: 7%;
    object-fit: cover;
    margin-left: 82%;
    margin-top: -9%;
}
.menu{
    margin-left: -80%;
    margin-top: 1%;
    object-fit: cover;
    width: 80%;
}
.frame{
    margin-top: 15%;
    margin-left: 15%;
    width: 70%;
}
.table10{
    margin-top: 5%;
    text-align: center;
    font-size: 8vb;
    font-weight: 300;
}
.table11{
    margin-top: 1%;
    text-align: center;
    font-size: 5vb;
    color: gray;
    font-weight: 300;
}
.table12{
    margin-left: 43%;
    object-fit: cover;
    margin-top: 3%;
}
.btn{
    font-size: 100%;
    margin-left: 5%;
    margin-top: -5%;
}
@media (max-width: 375px){
    .table{
        margin-left: 72%;
        margin-top: -8%;
        font-size: 30%;
        object-fit: cover;
    }
    .magaz{
        width: 7%;
        object-fit: cover;
        margin-left: 87%;
        margin-top: -17%;
    }
    .table10{
        margin-top: 5%;
        text-align: center;
        font-size: 3vb;
        font-weight: 300;
    }
    .table11{
        margin-top: 1%;
        text-align: center;
        font-size: 1vb;
        color: gray;
        font-weight: 300;
    }
    .table12{
        margin-left: 43%;
        object-fit: cover;
        margin-top: 3%;
        width: 1%;
    }
    .btn{
        font-size: 30%;
        margin-left: 60%;
        margin-top: -13%;
    }
}
@media (max-width: 768px){
    .table{
        margin-left: 70%;
        margin-top: -8%;
        font-size: 50%;
        object-fit: cover;
    }
    .magaz{
        width: 7%;
        object-fit: cover;
        margin-left: 81%;
        margin-top: -12%;
    }
    .table10{
        margin-top: 5%;
        text-align: center;
        font-size: 5vb;
        font-weight: 300;
    }
    .table11{
        margin-top: 1%;
        text-align: center;
        font-size: 2vb;
        color: gray;
        font-weight: 300;
    }
    .table12{
        margin-left: 43%;
        object-fit: cover;
        margin-top: 3%;
        width: 1%;
    }
    .btn{
        font-size: 50%;
        margin-left: 60%;
        margin-top: -13%;
    }
}
@media (max-width: 1024px){
    .table{
        margin-left: 70%;
        margin-top: -8%;
        font-size: 50%;
        object-fit: cover;
    }
    .magaz{
        width: 7%;
        object-fit: cover;
        margin-left: 81%;
        margin-top: -10%;
    }
    .table10{
        margin-top: 5%;
        text-align: center;
        font-size: 7vb;
        font-weight: 300;
    }
    .table11{
        margin-top: 1%;
        text-align: center;
        font-size: 4vb;
        color: gray;
        font-weight: 300;
    }
    .table12{
        margin-left: 43%;
        object-fit: cover;
        margin-top: 3%;
        width: 2%;
    }
    .btn{
        font-size: 80%;
        margin-left: 60%;
        margin-top: -13%;
    }
}